.Main{
   height: 100vh;
   overflow: hidden;
    .Main__LeftSideBar{

        .Main__Container{
            width: 300px;
        }
    }

    .Main__MessageBox{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .Main{
        height: 100%;
        overflow: hidden;
        display: inline-block !important;

        .Main__LeftSideBar{
            overflow: hidden;
            .Main__Container{
               width: 100%;
            }
        }

        .Main__MessageBox{
            width: 100%;
        }
    }
}
