.theme-light {
    --color-background: #ffffff;
    --color-icon-button: rgba(0, 0, 0, 0.54);;
 }
.theme-dark {
    --color-background: #191b1f;
    --color-icon-button: honeydew;
}



.Btn--hover{
    background-color: #4a92d1;
    color: honeydew;
}

.icon{
    font-size: 20px;
}

.Toolbar{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100px;
    text-align: center;
    background-color: var(--color-background);
    
    .Toolbar__Content{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;
        flex-direction: column;
        .Toolbar__Body{
            .Toolbar__ListBody{
                list-style-type: none;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                li{
                    padding-bottom: 30px;
                }
                .Btn{
                    color: var(--color-icon-button);
                }

                .Btn:hover{
                    @extend .Btn--hover;
                }
            }
        }
    
        .Toolbar__Footer{
            .Toolbar__ListFooter{
                list-style-type: none;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: flex-end;

                .Btn{
                    color: var(--color-icon-button);
                }

                .Btn:hover{
                    @extend .Btn--hover;
                }

                .Btn--Setting{
                    animation: rotation 2s infinite linear;
                }
            }
            li{
                padding-bottom: 30px;
            }
        }
    }
    
   
}

.Toolbar--dark{
    @extend .Toolbar;
    background-color: #191b1f;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}